//@mixin justify-content($var) {
//  -ms-justify-content: $var;
//  -webkit-justify-content: $var;
//  justify-content:$var;
//}
//@mixin align-content($var) {
//  -ms-align-content: $var;
//  -webkit-align-content: $var;
//  align-content: $var;
//}
//@mixin align-items($var) {
//  -ms-align-items: $var;
//  -webkit-align-items: $var;
//  align-items: $var;
//}
//@font-face  {
//  font-family: Circe;
//  src: url('fonts/Circe-ExtraLight.otf') format("truetype");
//  font-weight: 100;
//}
//@font-face  {
//  font-family: Circe;
//  src: url('fonts/Circe-Light.otf') format("truetype");
//  font-weight: 300;
//}
//@font-face  {
//  font-family: Circe;
//  src: url('fonts/Circe-Regular.otf') format("truetype");
//  font-weight: 400;
//}
//@font-face  {
//  font-family: Circe;
//  src: url('fonts/Circe-Bold.otf') format("truetype");
//  font-weight: 600;
//}
@font-face  {
  font-family: TitilliumWeb;
  src: url('fonts/TitilliumWeb-ExtraLight.ttf') format("truetype");
  font-weight: 100;
}
@font-face  {
  font-family: TitilliumWeb;
  src: url('fonts/TitilliumWeb-Light.ttf') format("truetype");
  font-weight: 300;
}
@font-face  {
  font-family: TitilliumWeb;
  src: url('fonts/TitilliumWeb-Regular.ttf') format("truetype");
  font-weight: 400;
}
@font-face  {
  font-family: TitilliumWeb;
  src: url('fonts/TitilliumWeb-Bold.ttf') format("truetype");
  font-weight: 600;
}
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  letter-spacing: 0.5px;
}
html, body {
  background: #2f3756;
  color: #ffffff;
  font-family: TitilliumWeb, serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.hidden {
  height: 0;
  transition: 0.3s;
  opacity: 0;
}
.shown {
  height: auto;
  transition-delay: 0.3s;
  transition: 0.3s;
}
.loader {
  width: 64px;
  height: 64px;
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: 0.3s;
  z-index: 0;
}
input[type=text], input[type=password], input[type=submit], button {
  background: none;
  border: none;
  color: #ffffff;
  outline: none;
}
button, input[type=submit] {
  cursor: pointer;
}

// animations
@keyframes tremble {
  0% {
    transform: translateX(0px);
  }
  25% {
      transform: translateX(3px);
  }
  50% {
      transform: translateX(0px);
  }
  75% {
      transform: translateX(-3px);
  }
  100% {
       transform: translateX(0px);
   }
}

//main {
//  width: 1000px;
//  margin: 200px auto;
//}
//.SongList {
//  position: relative;
//}
